/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
  padding-bottom: 20px;
}

.transactions-panel-group{
	padding:10px;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}



.node {
  stroke: #fff;
  stroke-width: 1.5px;
  z-index: 100;
}

.link {
  stroke: #b8b8b8;
  /*stroke-opacity: .6;*/
  stroke-width: 1.5px;
  z-index: 0;
}

.overlay {
   border: 1px solid black;
  fill: none;
  pointer-events: all;
}