/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
  padding-bottom: 20px;
}

.transactions-panel-group{
	padding:10px;
}

.node  {
  
  
  
}

.clickable:hover {   
    cursor: pointer ;
   
    fill-opacity:0.9;
  }

.node text {
  font-size: 11px;
}



.node {
  stroke: #fff;
  stroke-width: 1.5px;
  z-index: 100;
}

.link {
  stroke: #b8b8b8;
  /*stroke-opacity: .6;*/
  stroke-width: 1.5px;
  z-index: 0;
}

.overlay {
   border: 1px solid black;
  fill: none;
  /*pointer-events: all;*/
}

.full-height-panel
{
  height: 100%;
}

.spinner {
  margin-left: auto ;
  margin-right: auto ;
    position:relative;
    width:60px;
    height:60px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    
}

@-moz-keyframes spin {
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.spinner::after
{
    content:"";
    border-radius: 50%;
    -moz-border-radius: 50%;
    display:block;
    width:54%;
    height:54%;
    background:darkgray;
    position: absolute;
    top:23%;
    left:23%;
    z-index:0;
}
.spinner::before
{
    content:"";
    border-radius: 50%;
    -moz-border-radius: 50%;
    display:block;
    width:48%;
    height:48%;
    background:white;
    position: absolute;
    top:26%;
    left:26%;
    z-index:1;
}

.dot {
    border-radius: 50%;
    -moz-border-radius: 50%;
    display:block;
    width:10%;
    height:10%;
    background:black;
    z-index:3;
    position: absolute;
    top:20%;
    left: 45%;
}