
<div class="row" ng-if="blockNotFound">
	<div class="alert alert-danger">Block not found.</div>
</div>

	<div class="row" ng-if="block != null">
        <div class="col-md-12">	
			<div class="panel panel-primary">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  <ul class="pager">
			<li ng-if="block.prev_block != 0" class="previous"><a href="#/block/{{block.prev_block}}">&larr; Previous Block</a></li>
			<li class="h3">Block Information</li>
		    <!--<li class="next"><a href="#">Next Block &rarr;</a></li>-->
		</ul></div>		  

			  <!-- List group -->
			  <ul class="list-group">				
				<li class="list-group-item"><strong>Hash:</strong> {{block.hash}}</li>
				<li class="list-group-item"><strong>Previous block: </strong><a ng-if="block.prev_block != 0" href="#/block/{{block.prev_block}}">{{block.prev_block}}</a></li>
				<li class="list-group-item"><strong>Time: </strong>{{block.time}}</li>
				<li class="list-group-item"><strong>Transactions:</strong> {{block.n_tx}}</li>				
				<li class="list-group-item"><strong>Size: </strong>{{block.size}}</li>
				<li class="list-group-item"><strong>Merkle root:</strong> {{block.mrkl_root}}</li>
				<li class="list-group-item"><strong>Nonce: </strong>{{block.nonce}}</li>
			  </ul>
		    </div>
		  </div>		 
		</div>
		
		<div class="row" ng-if="block != null">
			<div class="col-md-12">	
			<div class="panel panel-primary">
			<div class="panel-heading text-center"><span class="h3">Transactions ({{block.n_tx}})</span></div>	  

				<div class="panel-group transactions-panel-group" id="accordion">
				  <div class="panel panel-default" ng-repeat="transaction in block.tx">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{transaction.hash}}" onclick="return false;">
							{{transaction.hash}}  
						</a>
						<!--<span class="badge pull-right">5.00100</span>-->
					  </h4>
					</div>
					<div id="collapse_{{transaction.hash}}" class="panel-collapse collapse">
					  <div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>From (Transaction : Index)</th>
									<th>To (Address : Value)</th>
									<!--<th>Amount</th>
									<th>Fee</th>-->						
								</th>
							</thead>
							<tbody>					
								<tr>
									<td>
										<ul ng-if="!(transaction.in[0].prev_out.hash == 0)">
											<li ng-repeat="input in transaction.in">												
												{{input.prev_out.hash}} : {{input.prev_out.n}} <!--({{input.prev_out.value}})-->
											</li>
										</ul>
										<span ng-if="transaction.in[0].prev_out.hash == 0">
											Generation
										</span>
									</td>
									<td>
										<ul>
											<li ng-repeat="output in transaction.out">
												{{ output.scriptPubKey | scriptPubKeyHash }} : {{output.value}} 
											</li>
										</ul>
									</td>
									<!--
									<td>{{transaction.in.addr}}</td>
									<td>0.001</td>	
									-->
								</tr>
							</tbody>
						</table>
						<button type="button" ng-if="transaction.in[0].prev_out.hash != 0" class="btn btn-default" ng-click="visualiseButtonClick(transaction.hash)">Visualise</button>
					  </div>			 
					</div>
				  </div>
		  
					</tbody>
				</table>
			  </div>			 
			</div>
		  </div>
		</div>
		</div>	
		</div>	 
		</div>	 