
 
<div class="row" ng-if="blocks.length == 0">
	<div class="alert alert-danger">Could not get block chain.</div>
</div>

      <div class="row" ng-if="blocks != null && blocks.length > 0">
        <div class="col-md-12">	
<div class="panel panel-primary">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  <ul class="pager">
			<li class="previous"><a href="#/{{blocks.slice(-1)[0].prev_block}}">&larr; Older</a></li>
			<li class="h3">Block Chain</li>
		    <li class="next"><a href="#/{{tomorrow}}">Newer &rarr;</a></li>
		</ul>
		<form role="form">  
			  <!--<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Filter</button>
				</span>
				<input type="text" class="form-control" placeholder="Filter by block id, block hash, transaction hash or address.">
			</div>-->
			</form>	
		</div>		
		<table class="table table-hover">
			<thead>
				<tr>					
					<th>Hash</th>
					<th>Time</th>					
				</th>
			</thead>
			<tbody>
			<tr ng-repeat="block in blocks">				
				<td><a href="#/block/{{block.hash}}">{{block.hash}}</a></td>
				<td>{{block.time * 1000 | date: 'short' }}</td>
				</tr>	
			</tbody>
		</table>
        </div>
      </div>
	</div>